

#contentMain img  {
    position: absolute;
    z-index: 0;


}



#contentGame {
    display: flex;
    flex-direction:row ;
    width: 1200px;
    height: 700px;
    margin-left: 50px;
}
#contentMain {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    background-image: url('images/foni/1.jpg');
    position: relative;

}

    #bottomPanel {
        display: flex;
        justify-content: center;
        align-items:  center;
        width: 900px;
        height: 100px;
        border: 1px solid black;

    }
    #contentRight {
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
        width: 150px;
        height: 500px;
        border: 1px solid black;


    }

    #contRight_help {
        border: 1px solid black;
        width: 150px;
        height: 100px;
    }

    #timer {
        border: 1px solid black;
        width: 150px;
        height: 100px;
    }


    #helper {
        position: absolute;
        opacity: 1;
    }









    #contentMain #rot {
        position: absolute;
        z-index: 1;
        width: 200px;
        animation-name: rotation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }



    @keyframes rotation {
        0% {transform:rotate(0deg);
            opacity: 0.1;
            width: 100px;
            }
        30% {opacity: 0.9;
            width: 200px;
            }
        60% {opacity: 0.9;
            width: 200px;
        }

        100% {transform:rotate(360deg);
            opacity: 0.1;
            width: 100px;
        }
    }



