

.bod {
	display:flex;
	flex-direction: row;
	justify-content: center;
	background: #E6EBF6;
}
.column1 {
	margin-right: 30px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

.column1 > div > a {
	text-decoration: none;
	
}

.column1 > div > a > span {
	color: #285473;
}
.column1 > div > a > span > i {
	color: #95A6CC;

}
.column1 > div:hover {
	background-color: rgba(40, 84, 115, 0.1);

}



.fa-home {
	font-size: 120%;
}

.fa-user {
	font-size: 125%;
}

.fa-users {
	font-size: 90%;
}

.fa-film {
	font-size: 90%;
}


.fa-file-text {
	font-size: 125%;
}
.fa-camera {
	font-size: 95%;
}






.column2 {
	display:flex;
	flex-direction: column;
	/*padding-right: 15px;
	padding-left: 15px;*/
	align-items: center;
}

.column3 {
	display:flex;
	flex-direction: column;
	width: 600px;
}
#gift {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px;
	margin-top: 0px;
	
	
}
.colm3 {
	background-color: white;
	margin: 15px;
	padding: 15px;

}
.colm4 {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	margin: 15px;
	padding: 15px;
	
}
.colm3 > .colm4 {
	margin: 0px;
	padding: 5px;
	padding-left: 0px;
	padding-right: 0px;
}
.colm2_gift {
	display:flex;
	flex-direction: column;
	background-color: white;
	margin-top: 15px;
	width: 265px;
	justify-content: center;
}
.colm2_friends{
	display:flex;
	flex-direction: column;
	background-color: white;
	margin-top: 15px;
	width: 265px;
	
}


.colm2_photo {
	background-color: white;
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	width: 265px;

}


.page {
	display:flex;
	flex-direction: row;
	align-items: flex-start ;
	margin: 15px;
	margin-top: 0px;
	justify-content: space-between;
}
.inf {
	
	width: 100%;
	height: 40px;
	color: #42648b; 
}
	.inf:hover {
	background-color: #E6EBF6;
	}

.inf > p {
	text-align: center;
	margin: 0px;
	padding-top: 10px;
} 

.schet {
	
	display:flex;
	flex-direction: row;
	justify-content: space-around;


}
.wall {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

i {
	margin: 5px;
	color: #2a5885;
}
.whats {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.schet > div {
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
	margin-right: 5px;

}
.schet > div > div {
	color: #42648b;
	font-size: 20px;
}
.schet > div > p {
	color: #42648b;
	margin-top: 3px;
	margin-bottom: 5px;

}
span {
	color: #939393;
}

 
button {
	background-color: #E6EBF6;
	width: 150px;
	height: 30px;
	margin-bottom: 15px;
	border: 0px;
}
.myfoto {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 10px;
}


.name {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	}

.giff {
	width: 64px;
    height: 64px;
    margin-right: 4px;
}
.row > div > img,
 	.page > img {
	border-radius: 50%;

}
	div > img {
		margin-right: 15px;
	}

.page > div > p {
	font-size: 80%;
	margin-top: 5px;
}

.page > div > a {
	color: black;
	text-decoration: none;

}

	
.pad {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
}

.row_mini {
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 70px;
	margin: 5px;
}
.row {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 15px;
}


.mypost {
	display:flex;
	flex-direction: row;
	justify-content: space-between;

}
.mypost > div > p {
	float: right;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}


h2, h4 {
	margin: 0px;
}
td {
	width: 30%;

}
td > p {
	margin: 5px;
}

li {
	margin-bottom: 5px;
	font-size: 120%; 
	margin-right: 15p


}
.fa-bullhorn {
	margin-left: 25px;
}
#but {
	width: 30px;
	height: 30px;
	background-color: #E6EBF6;
}
.edit {
	width: 265px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	}

.myfoto > img {

margin:  0px;
	
}
#ava {
	margin: 15px;
	width: 90%;
	border-radius: 0px;
	
}
#fotk {
	border-radius: 100%;
}
input {
	width: 300px;
	height: 35px;
	background: #294463;
	color: #507299;
	border: 0px;
	border-radius: 20px;
	font-size: 120%;
}
.header > div > div > i {
	color: #294463;
	font-size: 120%;
	margin-left: 20px;
	margin-right: 10px;
}
.header1 {
	display:flex;
	flex-direction: row;

}

.header {
	display: block;
	height: 50px;
	background-color: #507299; /*  #466991;*/
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.header2 {
	display:flex;
	flex-direction: row;

}
.header2 > div > img  {
	border-radius: 70%;
	width: 15%;
	margin: 5px;
}
.header2 > p {
	color: white;
	font-weight: bold;
	margin-right: 10px;
}
.header > div {
	margin-left: 120px;
}
#vk {
	margin-left: 200px;
}
